{
  "plugins": [
    [ "import",
      {
        "libraryName": "antd-mobile-rn"
      }
    ],
    [ "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~": "./src",
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@redux": "./src/redux",
          "@api": "./src/api",
          "@constants": "./src/constants"
        }
      }
    ]
  ]
}
