<!DOCTYPE HTML>
<html>
	<head>

		<!-- Fix for iOS Safari zooming bug -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<script type="text/javascript" src="charting_library/charting_library.min.js"></script>
		<script type="text/javascript" src="datafeeds/udf/dist/polyfills.js"></script>
		<script type="text/javascript" src="datafeeds/udf/dist/bundle.js"></script>

		<script type="text/javascript">
			TradingView.onready(function()
			{
        document.getElementById('chartView')
        .setAttribute('data-exchange', 'upbit')
				new TradingView.widget({
					fullscreen: true,
					symbol: 'ETH/BTC',
					interval: '60',
          theme: "Dark",
					container_id: "tv_chart_container",
					datafeed: new Datafeeds.UDFCompatibleDatafeed("https://9u3jawxuod.execute-api.ap-northeast-2.amazonaws.com/v1_1"),
					library_path: "charting_library/",
					locale: "ko",
					drawings_access: { type: 'black', tools: [ { name: "Regression Trend" } ] },
					disabled_features: ["use_localstorage_for_settings"],
					enabled_features: ["study_templates"],
					charts_storage_url: 'http://saveload.tradingview.com',
                    charts_storage_api_version: "1.1",
					client_id: 'tradingview.com',
					user_id: 'public_user_id'
				});
			});

		</script>

	</head>
  <body style="margin: 0">
    <div id="chartView">
      <div id="tv_chart_container"></div>
    </div>
  </body>
</html>
